/* ---- Mobile First Layout ---- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: #f8f8f8;
}

main {
  background-color: white;
}

h1,
h2,
h3,
li.nav-item {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 3rem;
  margin: auto;
  width: 100%;
}

h3 {
  font-weight: 500;
}

header,
section,
#intro {
  margin: 0 1rem;
}

footer {
  margin-top: 1rem;
}

nav {
  text-transform: uppercase;
  color: black;
}

header p,
#contact p {
  color: #777;
}

img {
  max-width: 100%;
  margin: auto;
}

a {
  flex: 1;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0;
}

span {
  display: inline-block;
  margin: 0 1rem;
}

.project,
.skill {
  margin-bottom: 20%;
}

.project:last-child,
.skill:last-child {
  padding-bottom: 4rem;
  margin-bottom: 0;
}

img.profile-image {
  max-width: 70%;
}

body,
#intro,
#portfolio,
#skills,
ul.header-nav,
li.nav-item,
#bottom-nav {
  display: flex;
  justify-content: center;
}

ul.header-nav,
.container {
  flex-direction: column;
}

li.nav-item,
#bottom-nav {
  margin: 0.15rem 0;
  font-size: 1rem;
  font-weight: 700;
}

li.nav-item {
  background: white;
}

#bottom-nav {
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

ul.footer-nav {
  display: none;
}

#intro {
  padding: 3rem 0;
  margin: 0;
}

#portfolio {
  border-bottom: 1px dashed #bbb;
}

#contact {
  border-bottom: 1px solid #ddd;
  padding-bottom: 3rem;
}

.skill img {
  max-width: 40vw;
}
/* ---- Media Queries ---- */
@media screen and (min-width: 768px) {
  body {
    margin: 50px 0;
  }

  .main-nav {
    margin: 0 30%;
  }

  #intro,
  #portfolio,
  #skills {
    flex-direction: row;
  }

  .intro-item {
    margin: 0 0.5rem;
  }

  #intro img {
    max-width: 40%;
  }

  .skill {
    max-width: 50vw;
  }

  .skill img {
    max-width: 30vw;
  }

  #intro p {
    text-align: left;
    font-size: 1.2rem;
    order: -1;
  }

  #portfolio p,
  #skills p {
    padding: 0 2rem;
  }

  #portfolio,
  #skills {
    flex-wrap: wrap;
  }

  #bottom-nav {
    align-items: center;
  }

  .contact-invite {
    padding: 0 15vw 3vw;
  }

  .project,
  .skill {
    margin: 0 0.5rem 4rem;
    flex: 1 40%;
  }

  ul.header-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  ul.footer-nav {
    display: flex;
  }

  li.nav-item {
    background-color: rgba(0, 0, 0, 0);
  }

  .footer-nav-item a {
    padding: 0.75rem;
    align-self: center;
  }

  .to-top {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav {
    margin: 0;
  }

  .header-nav a {
    padding: 15px;
  }
  .name {
    flex: 0 0 auto;
  }
  .wrapper {
    margin: 3vw;
    max-width: 1200px;
  }

  .skill img {
    max-width: 20vw;
  }

  .project,
  .skill {
    flex-basis: 30%;
  }
}
